@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    font-family: "roboto", sans-serif;
}


:root{
    font-size: 20px;
}

li, a, button {
    font-family: "roboto", sans-serif;
    font-weight: 400;
    font-size: 1rem;
    color: #0c0c0c;
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0.01);

}

.flex{
    display: flex;
    padding: 0.5vmin;
    margin: 0.5vmin;
    justify-content: center;    
    align-items: center;
    flex-direction: column;
}


header{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0.5vmin 1.5%;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 5%;


}

.logo{
    cursor: pointer;
    margin-right: auto;
}
.nav{
    background-color: rgba(0, 0, 0, 0.001);
}

.nav_links{
    list-style:none;
    background-color: rgba(0, 0, 0, 0.001);
}

.nav_links li{
    display: inline-block;
    padding: 15px 15px;
    background-color: rgba(0, 0, 0, 0.001);
    
}

.nav_links li a{
    transition: all 0.3s ease 0s;
    
}

.nav_links li a:hover{
    color: #0088a9;
}

button {
    margin-left: 0.5rem;
    padding: 15px 15px;
    background-color: rgba(0, 136, 169, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    
}

button:hover{
    background-color: rgba(0, 136, 169, 0.8);
}

.animation{
    transition: all 0.3 ease 0.4;
}

.center{
    border: 5px;
    display: flex;
    justify-content: center;
    transform: translatey(120%);
}

.fadein{
    animation: fadein 4s;

}

@keyframes fadein{
    from {opacity: 0;}
    to {opacity: 1;}
}
/*
.big-card {
    display: flex;
    align-items: center;
    max-width: px;
    aspect-ratio: 1/1;
    border-radius: 2.5vmin;
    transform: translate(100%, 45%);


}

.big-card:nth-child(1){
    background-image: url(SFS.jpg);
    transition: transform 1250ms cubic-bezier(.05,.43,.25,.95)
}

.card-group:hover > .big-card:nth-child(1){
    transform: translate(100%, 45%) rotate(20deg);

}
*/
