@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    box-sizing: border-box;
    margin: 0vh;
    padding: 0vh;
    background-color: #e2e2e2;
    font-family: "roboto", sans-serif;
}

:root{
    font-size: 20px;
}

li, a, button {
    font-family: "roboto", sans-serif;
    font-weight: 400;
    font-size: 1rem;
    color: #0c0c0c;
    text-decoration: none;

}

.flex{
    display: flex;
    padding: 1rem;
    margin: 1rem;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

header{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 1rem 5%;
}

.logo{
    cursor: pointer;
    margin-right: auto;
    
}

.nav_links{
    list-style:none;
}

.nav_links li{
    display: inline-block;
    padding: 15px 15px;
}

.nav_links li a{
    transition: all 0.3s ease 0s;
}

.nav_links li a:hover{
    color: #0088a9;
}

button {
    margin-left: 0.5rem;
    padding: 15px 15px;
    background-color: rgba(0, 136, 169, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover{
    background-color: rgba(0, 136, 169, 0.8);
}
